MONGODB_URI=mongodb://mongo:27017/sociopilot
PORT=4000
HUGGINGFACE_API_TOKEN=
JWT_SECRET=
ENCRYPTION_KEY=
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_CALLBACK_URL=http://localhost:4000/api/social/twitter/callback
FRONTEND_URL=http://localhost:3000
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
